/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* 防止滚动 */
}

#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlayDiv {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 205, 255, 0.5); /* 半透明白色背景 */
    color: black; /* 文字颜色 */
    display: flex;
    justify-content: center;
    align-items: center; /* 居中显示 */
    opacity: 0.5; /* 设置透明度 */
}
.control {
    position: absolute;
    top:  10%;
    left: 40%;
    z-index: 8; /* 确保按钮在画布之上 */
}
#startAndStop{
    width: 80px;
    height: 80px;
}
.contro3 {
    position: absolute;
    top:  50%;
    left: 50%;
    z-index: 9; /* 确保按钮在画布之上 */
}
.output2{
    position: fixed;
    bottom: 10px; /* 距离底部的距离 */
    right: 10px; /* 距离右边的距离 */
    width: 200px; /* 宽度 */
    height: 150px; /* 高度 */
    background-color: lightblue; /* 背景颜色 */
    z-index: -10;
}
#mCircle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    z-index: 20;
}
